In [1]:
from text2sql.clauses import Clause

2023-06-16 02:21:45.139646: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-06-16 02:21:45.190755: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-06-16 02:21:45.192636: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-16 02:21:46.300578: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
clause=Clause()
clause.testEmb(["what was the most number cancer patients"])

2023-06-16 02:21:52.870016: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'inputs' with dtype string
	 [[{{node inputs}}]]

1/1 [==============================] - 0s 104ms/step

[array([[1.3756082e-02, 5.7213032e-01, 4.1120705e-01, 2.2784024e-03,
         5.0519727e-04, 1.2298042e-04]], dtype=float32),
 array([1])]

In [3]:

types={"SELECT {} FROM {}":["which are the activities in 2011","find who died of stomach cancer"],
      "SELECT MAX({}) FROM {}":["find the highest gdp value","what was the most number of cases reported","what was the maximum age of stomach cancer patients"],
       "SELECT MIN({}) FROM {}":["find the lowest gdp value","what was the least number of cases reported","what was the minimum age of stomach cancer patients"],
       "SELECT COUNT({}) FROM {}":["how many men died of stomach cancer in 2011","Find the number of activities in this data","Amount of people who died of cancer"],
       "SELECT SUM({}) FROM {}":["sum of all cases","sum of death count"],
       "SELECT AVG({}) FROM {}":["what is the average gdp last year","find the average number of reported cases","get me the average number of reported cases"]}
for key,typ in types.items():
    for q in typ:
        testThis=clause.adapt([q])
        print(key,q,testThis)
        #if testThis != key:
        #    raise AssertionError

1/1 [==============================] - 0s 20ms/step
SELECT {} FROM {} which are the activities in 2011 SELECT {} FROM {}
1/1 [==============================] - 0s 21ms/step
SELECT {} FROM {} find who died of stomach cancer SELECT {} FROM {}
1/1 [==============================] - 0s 17ms/step
SELECT MAX({}) FROM {} find the highest gdp value SELECT MAX({}) FROM {}
1/1 [==============================] - 0s 23ms/step
SELECT MAX({}) FROM {} what was the most number of cases reported SELECT MAX({}) FROM {}
1/1 [==============================] - 0s 22ms/step
SELECT MAX({}) FROM {} what was the maximum age of stomach cancer patients SELECT MIN({}) FROM {}
1/1 [==============================] - 0s 21ms/step
SELECT MIN({}) FROM {} find the lowest gdp value SELECT MIN({}) FROM {}
1/1 [==============================] - 0s 20ms/step
SELECT MIN({}) FROM {} what was the least number of cases reported SELECT MIN({}) FROM {}
1/1 [==============================] - 0s 19ms/step
SELECT MIN({}) FROM {} what was the minimum age of stomach cancer patients SELECT MIN({}) FROM {}
1/1 [==============================] - 0s 19ms/step
SELECT COUNT({}) FROM {} how many men died of stomach cancer in 2011 SELECT {} FROM {}
1/1 [==============================] - 0s 22ms/step
SELECT COUNT({}) FROM {} Find the number of activities in this data SELECT COUNT({}) FROM {}
1/1 [==============================] - 0s 23ms/step
SELECT COUNT({}) FROM {} Amount of people who died of cancer SELECT {} FROM {}
1/1 [==============================] - 0s 19ms/step
SELECT SUM({}) FROM {} sum of all cases SELECT SUM({}) FROM {}
1/1 [==============================] - 0s 20ms/step
SELECT SUM({}) FROM {} sum of death count SELECT SUM({}) FROM {}
1/1 [==============================] - 0s 20ms/step
SELECT AVG({}) FROM {} what is the average gdp last year SELECT {} FROM {}
1/1 [==============================] - 0s 21ms/step
SELECT AVG({}) FROM {} find the average number of reported cases SELECT AVG({}) FROM {}
1/1 [==============================] - 0s 18ms/step
SELECT AVG({}) FROM {} get me the average number of reported cases SELECT AVG({}) FROM {}